[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cefpython3 = {file = "https://github.com/Berserker66/cefpython/releases/download/v74.1.1/cefpython3-74.1-cp39-none-win_amd64.whl"}

[dev-packages]

[requires]
python_version = "3.8"
